# Local .terraform directories
.terraform/
certs/

docs

*.jpg
*.md
*.vscode/

scrap/

# .tfstate files
*.tfstate
*.tfstate.*/
*.tfstate.backup
.terraform.lock.hcl


# python files
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
.env
.venv/

# Ignore application specific files for local dev
test.txt
app/backend/src/archive/
app/backend/src/templates/
app/backend/instance/

# Crash log files
crash.log
crash.*.log

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore transient lock info files created by terraform apply
.terraform.tfstate.lock.info

# Include override files you do wish to add to version control using negated pattern
# !example_override.tf

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
# example: *tfplan*

# Ignore CLI configuration files
.terraformrc
terraform.rc
